.producto-imagen{
    background-color: coral;

}
.jumbotron text-center{
    size: 45px;
    background: rgb(202, 125, 125);
}
#titulo_auriculares{
    font-size: 25px;
}
#compra{
    margin-left: 1100px;
    display: inline-flexbox;
    border: 20px;
    text-align: right;
    margin-right: 25px
}
#caracteristicas-rosegold{
    margin-right: 25px;
}
a:link{
    color:black;
}
a:visited{
    color: black;
}
a:hover{
    color: rgb(41, 41, 83);
}
