.producto-imagen{
    background-color: coral;

}
.jumbotron text-center{
    background: rgb(202, 125, 125);
    
}
#titulo-producto{
    font-family: ;
}
.bg-danger text-white{
    color: rgb(99, 38, 16) !important;
}
/*
rgb(189, 181, 181)
*/